@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #151515;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #1a1a1a;
    --primary-foreground: #fafafa;
    --secondary: #f5f5f5;
    --secondary-foreground: #1a1a1a;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #f5f5f5;
    --accent-foreground: #1a1a1a;
    --destructive: #d32f2f;
    --destructive-foreground: #fafafa;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #0a0a0a;
    --chart-1: #d85a3d;
    --chart-2: #21897e;
    --chart-3: #124a60;
    --chart-4: #e3a72f;
    --chart-5: #f7972e;
    --radius: 0.5rem;
    --sidebar-background: #fafafa;
    --sidebar-foreground: #424242;
    --sidebar-primary: #1a1a1a;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f2f2f2;
    --sidebar-accent-foreground: #1a1a1a;
    --sidebar-border: #d5d5d5;
    --sidebar-ring: #2c7ef7;
  }

  .dark {
    --background: #151515;
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --primary: #fafafa;
    --primary-foreground: #1a1a1a;
    --secondary: #262626;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a1a1a1;
    --accent: #262626;
    --accent-foreground: #fafafa;
    --destructive: #991b1b;
    --destructive-foreground: #fafafa;
    --border: #262626;
    --input: #262626;
    --ring: #d4d4d4;
    --chart-1: #0055ff;
    --chart-2: #008f68;
    --chart-3: #ff9f1c;
    --chart-4: #a358df;
    --chart-5: #e63946;
    --sidebar-background: #1a1a1a;
    --sidebar-foreground: #f2f2f2;
    --sidebar-primary: #2a61d6;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #242424;
    --sidebar-accent-foreground: #f2f2f2;
    --sidebar-border: #242424;
    --sidebar-ring: #2c7ef7;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}