@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #f9fafb; /* fundo geral */
    --foreground: #1f2937; /* texto principal */
  
    --card: #ffffff;
    --card-foreground: #1f2937;
  
    --popover: #ffffff;
    --popover-foreground: #1f2937;
  
    --primary: #1e3a8a; /* azul escuro */
    --primary-foreground: #ffffff;
  
    --secondary: #f3f4f6;
    --secondary-foreground: #1f2937;
  
    --muted: #e5e7eb;
    --muted-foreground: #6b7280;
  
    --accent: #e0e7ff;
    --accent-foreground: #1e3a8a;
  
    --destructive: #dc2626;
    --destructive-foreground: #ffffff;
  
    --border: #e5e7eb;
    --input: #e5e7eb;
    --ring: #1e3a8a;
  
    --chart-1: #1e40af;
    --chart-2: #3b82f6;
    --chart-3: #6b7280;
    --chart-4: #eab308;
    --chart-5: #f87171;
  
    --radius: 0.5rem;
  
    --sidebar-background: #f3f4f6;
    --sidebar-foreground: #374151;
    --sidebar-primary: #1e3a8a;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #e5e7eb;
    --sidebar-accent-foreground: #1f2937;
    --sidebar-border: #d1d5db;
    --sidebar-ring: #1e3a8a;
  }
  
  .dark {
    --background: #111827;
    --foreground: #f9fafb;
  
    --card: #1f2937;
    --card-foreground: #f9fafb;
  
    --popover: #1f2937;
    --popover-foreground: #f9fafb;
  
    --primary: #3b82f6;
    --primary-foreground: #ffffff;
  
    --secondary: #374151;
    --secondary-foreground: #f9fafb;
  
    --muted: #4b5563;
    --muted-foreground: #d1d5db;
  
    --accent: #1e40af;
    --accent-foreground: #ffffff;
  
    --destructive: #ef4444;
    --destructive-foreground: #ffffff;
  
    --border: #374151;
    --input: #374151;
    --ring: #3b82f6;
  
    --chart-1: #60a5fa;
    --chart-2: #3b82f6;
    --chart-3: #facc15;
    --chart-4: #f87171;
    --chart-5: #10b981;
  
    --sidebar-background: #1f2937;
    --sidebar-foreground: #d1d5db;
    --sidebar-primary: #3b82f6;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #374151;
    --sidebar-accent-foreground: #f9fafb;
    --sidebar-border: #4b5563;
    --sidebar-ring: #3b82f6;
  }
  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}